dataset/coreresults.tsv filter=lfs diff=lfs merge=lfs -text
dataset/coreresultsMay16.tsv filter=lfs diff=lfs merge=lfs -text
dataset/coreresultsMay16_withingredients.tsv filter=lfs diff=lfs merge=lfs -text
